:root {
    --text-color: green
}

html {
    font-size: 100%;
}

#fisrt_heading {
    color: blueviolet;
    font-size: 2rem;
}

.second_heading {
    color: var(--text-color);
    /* color:chocolate; */
    font-size: 1rem;
    font-style: oblique;
}

.box {
    width: 60px;
    height: 60px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: left; */
    
}

.box1 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    padding: 30px;
    box-sizing: border-box;
}

.box2 {
    background-color: rebeccapurple;
    margin-left: 10px;
}

.box3 {
    background-color: tomato;
    padding: 10px 20px 15px;
    border: 3px solid rebeccapurple;
    margin: 10px;
}

.body {
    width: 100%;
    height: 100vh;
    /* background-color: #333; */
    /* padding: 20px;
    box-sizing: border-box;
    border: 10px dashed red;
    background-clip: content-box; */
    /* background-image:  */
    /* url(https://vnn-imgs-a1.vgcloud.vn/image.anninhthudo.vn/h500/uploaded/206/2019_10_24/bugatti_chiron_2.jpg); */
    /* background-size: 100%; */
    background-repeat: no-repeat;
    
    /* background-image: linear-gradient(135deg, #81ecec, #fab1a0); */
    
    background-image: linear-gradient(135deg, rgba(200,150,0,0.5), rgba(0,50,255,0.5)), 
    url(https://vnn-imgs-a1.vgcloud.vn/image.anninhthudo.vn/h500/uploaded/206/2019_10_24/bugatti_chiron_2.jpg);
    background-size: cover;
    background-position: center top;
    
}




